// Variables
@import 'variables';

// Includes
@import 'header';
@import 'home';
@import 'conheca';
@import 'servicos';
@import 'cadastro';
@import 'contato';
@import 'login';
@import 'politicas';
@import 'painelcliente';
@import 'footer';
@import 'suport';

//Calendário jquery
//@import 'jquery-ui.custom.min';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body{
	font-family: $font-primary;
	font-size: 14px !important;
}

a{
	color: #000;
}

a:hover{
	text-decoration: none;
	color: #000;
}

.playfair-h1-w{
	margin-bottom: 70px;
	font-family: $font-secondary;
	font-weight: bold;
	font-style: italic;
	color: #fff;
}

.playfair-h1-g{
	font-family: $font-secondary;
	font-weight: bold;
	font-style: italic;
	color: #17D5C8;
	text-align: center;
}


.playfair-h3-g{
	font-family: $font-secondary;
	font-weight: bold;
	font-style: italic;
	color: #17D5C8;
}

.playfair-h3-g-n{
	font-family: $font-secondary;
	font-weight: bold;
	color: #17D5C8;
}

.playfair-h3-b{
	font-family: $font-secondary;
	font-weight: bold;
	font-style: italic;
	color: #2A2A2A;
}

.playfair-h5-g {
  font-family: "Playfair Display", serif !important;
  font-weight: bold;
  color: #17D5C8;
}

.playfair-h2-b{
	font-family: $font-secondary;
	font-weight: bold;
	font-style: italic;
	color: #2A2A2A;

	&.title-conheca {
		width: 70%;
	}
}

.playfair-h2-w{
	font-family: $font-secondary;
	font-weight: bold;
	font-style: italic;
	color: #2A2A2A;
}

.btn-branco{
	margin-top: 32px;
    padding: 20px;
    color: #2A2A2A;
    border: #2A2A2A solid 1px;
    font-size: 20px;
    display: block;
    text-align: center;
    transition: all 100ms ease;
    &:hover{
    	border: #17D5C8 solid 1px;
    	color: #17D5C8;
    }
}

.btn-escuro{
	margin-top: 32px;
    padding: 20px;
    color: #fff;
    border: #fff solid 2px;
    font-size: 20px;
    display: block;
    text-align: center;
    transition: all 100ms ease;
    &:hover{
    	border: #17D5C8 solid 2px;
    	color: #17D5C8;
    }
}


.btn-verde{
	padding: 20px;
    color: #fff;
    font-size: 20px;
    display: block;
    text-align: center;
    transition: all 100ms ease;
    background-color: #17D5C8;
    cursor: pointer;
    border: none;
    &:hover{
    	background-color: #10968d;
    }

    &.centered {
    	display: table;
    	width: auto;
    	padding: 15px 40px;
    }
}

.btn-fundo-branco{
	padding: 20px;
    color: #17D5C8;
    font-size: 20px;
    display: block;
    text-align: center;
    transition: all 100ms ease;
    cursor: pointer;
    border: #17D5C8 solid 2px;
    background-color: #fff; 
    &:hover{
    	background-color: #17D5C8;
    	color: #fff;
    }
}

.btn-fundo-branco_disabled{
	padding: 20px;
    color: #17D5C8;
    font-size: 20px;
    display: block;
    text-align: center;
    transition: all 100ms ease;
    cursor: pointer;
    border: #17D5C8 solid 2px;
    background-color: #fff;
    opacity: 0.3;
}


/********* Formatação modal login ************/
.modal-login{
	min-width: 90% !important;
	.close{
		position: absolute;
		left: 15px;
	    top: 15px;
	    z-index: 1000;
	    span{
	    	color: #fff;
		    width: 25px;
		    height: 25px;
		    background: #0a0a0a;
		    border-radius: 14px;
		    display: block;
		    padding-top: 1px;
	    }
	}
}
.modal-body{
	padding: 0px !important;
}
.m-login{
	.box-login{
		padding: 30px;
	}
	label{
		font-size: 20px;
	}
	input{
		height: 50px;
		font-size: 1.3rem;
	}
	.campo-senha{
		position: relative;
		.descobrir-senha{
			position: absolute;
			right: 35px;
			bottom: 15px;
			font-size: 20px;
			cursor: pointer;
		}
		.descobrir-senha-aviso{
			bottom: 36px !important;
		}
	}
	.btn-verde{
		width: 100%;
	}
	.form-check{
		display: flex !important;
		.form-check-input{
			width: 20px;
		}
		.form-check-label{
			padding-top: 15px;
    		padding-left: 10px;
		}
	}
	.link-resetar{
		color: $color-verde;
		font-size: 20px;
		&:hover{
			color:$color-verde-escuro;
		}
	}
	.linha-login{
		width: 100%;
		display: block;
		border-bottom: #000 solid 2px;
		margin-left: 15px;
		margin-right: 15px;
	}
	.btn-branco{
		background: #fff !important;
		margin-top: 15px;
	}
	.pergunta{
		font-size: 20px;
	}
}

.card-body{
	min-height: 200px;
	max-height: 500px;
	overflow: scroll;
}

/******* MEDIA SCREEN ********/

@media screen and (min-width: 1200px) {
	.playfair-h1-w, .playfair-h1-g{
		font-size: 70px;
	}
	.playfair-h2-b, .playfair-h2-w{
		font-size: 60px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.playfair-h1-w, .playfair-h1-g{
		font-size: 60px;
	}
	.playfair-h2-b, .playfair-h2-w{
		font-size: 40px;
	}
}

@media screen and (max-width: 991px) {
	.playfair-h1-w, .playfair-h1-g{
		font-size: 50px;
	}
	.playfair-h2-b, .playfair-h2-w{
		font-size: 30px;
	}
}

/* Carrinho de compra */

.carrinho {
	.col-carrinho-1, .col-carrinho-2, .col-carrinho-3{
	  border-top: #E3E3E3 solid 1px;
	  border-bottom: #E3E3E3 solid 1px;
	  border-right: #E3E3E3 solid 1px;
	}

	.col-carrinho-4{
	  border-top: #E3E3E3 solid 1px;
	  border-bottom: #E3E3E3 solid 1px;
	}
	.img-carrinho{
	  height: 90px;
	  overflow: hidden;
	}
	.fa-trash-alt{
	  font-size: 18px;
	}
	.delete-item{
	  cursor: pointer;
	}
	.agendar-ervico{
	  width: 60px;
	  height: 60px;
	  background-color: #E3E3E3;
	  padding-top: 23px;
	  border-radius: 50%;
	}
	.linha-total{
	  border-top: #E3E3E3 solid 1px;
	  border-bottom: #E3E3E3 solid 1px;
	}
	.btn-verde-carrinho{
		padding: 20px;
	   color: #fff;
	   font-size: 20px;
	   display: block;
	   text-align: center;
	   transition: all 100ms ease;
	   background-color: #17D5C8;
	   cursor: pointer;
	   border: none;
	   margin-top: 32px;
	   margin-left: 40px;
	}
}
