.banner-conheca{
	z-index: 1;
	height:90vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	.chamada{
		text-align: center;
		padding-left: 15%;
    	padding-right: 15%;
	}
	.fiquepordentro{
		position: absolute;
	    left: 0px;
	    bottom: 0px;
	    width: 360px;
	    height: 100px;
	    background-color: #fff;
	    display: flex;
    	padding-top: 40px;
    	font-size: 20px;
	    .linha{
	    	background-color: #000;
	    	height: 2px;
	    	width: 30%;
	    	margin-top: 15px;
    		margin-left: 15px;
	    }
	    .fab{
	    	margin-left: 20px;
	    }
	}
}

.intro-conheca{
	.linha-conheca{
		border-top: #000 solid 2px;
		display: block;
	}
	.sumario{
		font-size: 30px;
		text-align: left;

		p {
			margin-bottom: 32px;
		}
	}
}

.galeria{
		
	/* clear fix */
	.grid:after {
	  content: '';
	  display: block;
	  clear: both;
	}

	/* ---- .grid-item ---- */

	.grid-sizer,
	.grid-item-conheca {
	  width: 50%;
	}

	.grid-item-conheca {
	  float: left;
	}

	.grid-item-conheca img {
	  display: block;
	  max-width: 100%;
	}
}