.footer-top{
	background-color: #efefef;
	min-height:500px;

	li{
		list-style: none;
		padding-bottom: 25px;

		&:not:first-child {
			font-size: 20px;
		}

		a {
			&:hover {
				text-decoration: underline;
			}
		}
		i {
			margin-right: 5px;
		}
	}
	.texto-footer{
		padding-right: 20%;
		padding-left: 20%;
	}
	.logo-footer {
		margin: 0 auto;
	}
	.hd-list{
		font-weight: bold;
		font-size: 24px;
	}
}
.footer{
	background-color: #2A2A2A;
	min-height: 80px;
	color: #fff;
}