
.header{
	height: 100px;
	background-color: white;
	z-index: 100;
	position: relative;
}

.header{
 	.nav-link{
 		color: $color-padrao !important;
 	}
 	.carrinho-icon{
 		display: inline-block;
 		font-size: 20px;
  		padding-right: 30px;
  		span{
		  	 position: absolute;
		    left: 25px;
		    top: 35px;
		    color: #fff;
		    background-color: #17D5C8;
		    width: 20px;
		    height: 20px;
		    border-radius: 50%;
		    text-align: center;
		    font-size: 13px;
		}
 	}
 	.avatar-perfil{
		display: inline-block;
		img{
			overflow: hidden;
			border-radius: 50%;
		}
	}
	.dropdown{
		display: inline-block;
	}
}

@media screen and (min-width: 1200px) {
	.header{
	    .img-logo{
	    	height: 200px;
	    	padding-left: 50px;
	    }
	}
	.nav-link{
 		padding-right: 30px !important;
 		padding-left: 30px !important;
 		font-size: 20px;
 	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.header{
	    .img-logo{
	    	height: 170px;
	    	padding-left: 40px;
	    }
	}
}

@media screen and (max-width: 991px) {
	.header{
	    .img-logo{
	    	height: 120px;
	    	padding-left: 50px;
	    }
	}
}

@media screen and (max-width: 1199px) {
	.nav-link{
 		padding-right: 20px !important;
 		padding-left: 20px !important;
 		font-size: 18px;
 	}
}

@media screen and (max-width: 768px) {
	.navbar-collapse{
		background-color: #fff;
		.navbar-nav{
			padding: 0px 10px;
			li:not(:last-child){
				border-bottom: #17D5C8 solid 1px;
			}
			li{
				a{
					text-align: center;
				}
			}
		}
	}
}