.banner-home{
	z-index: 1;
	height:90vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	.chamada{
		text-align: center;
		padding-left: 15%;
    	padding-right: 15%;
	}
	.fiquepordentro{
		position: absolute;
	    left: 0px;
	    bottom: 0px;
	    width: 360px;
	    height: 100px;
	    background-color: #fff;
	    display: flex;
    	padding-top: 40px;
    	font-size: 20px;
	    .linha{
	    	background-color: #000;
	    	height: 2px;
	    	width: 30%;
	    	margin-top: 15px;
    		margin-left: 15px;
	    }
	    .fab{
	    	margin-left: 20px;
	    }
	}
}

.session-conheca{
	.linha-conheca{
		border-top: #000 solid 2px;
		display: block;
	}
	.sumario{
		font-size: 30px;
		text-align: left;

		p {
			&:not(:first-child) {
				display: none;
			}
		}
	}
}


.session-servicos{
	background: #2A2A2A;
	color: #fff;
	.div-img{
		background-repeat: no-repeat;
		height: 700px;
		background-size: cover;
	}
}


/******* MEDIA SCREEN ********/

@media screen and (min-width: 1200px) {
	.session-conheca{
		.title-conheca{
			padding-left: 10%;
		}
		.subtitle-conheca{
			padding-left: 10%;
		}
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.session-conheca{
		.title-conheca{
			padding-right: 32%;
			padding-left: 10%;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.session-conheca{
		.title-conheca{
			padding-right: 32%;
			padding-left: 10%;
		}
	}
}

@media screen and (max-width: 767px) {
	.session-conheca{
		.title-conheca{
			text-align: center;
		}
	}
	.banner-home{
		.fiquepordentro{
			width: 300px;
			font-size: 18px;
			.linha{
				width: 50px;
			}
		}
	}	
}

