.box-login{
	border: $color-verde solid 1px;
	min-height: 400px !important;
	padding: 30px;
	background: #FCFCFC;
}
.box-login{
		padding: 30px;
	}
	label{
		font-size: 20px;
	}
	input{
		height: 50px;
		font-size: 1.3rem;
	}
	.campo-senha{
		position: relative;
		.descobrir-senha{
			position: absolute;
			right: 35px;
			bottom: 10px;
			font-size: 20px;
			cursor: pointer;
		}
		.descobrir-senha-aviso{
			bottom: 36px !important;
		}
	}
	.btn-verde{
		width: 100%;
	}
	.form-check{
		display: flex !important;
		.form-check-input{
			width: 20px;
		}
		.form-check-label{
			padding-top: 15px;
    		padding-left: 10px;
		}
	}