.banner-politicas{
	z-index: 1;
	height:90vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	.chamada{
		text-align: center;
		padding-left: 15%;
    	padding-right: 15%;
	}
	.fiquepordentro{
		position: absolute;
	    left: 0px;
	    bottom: 0px;
	    width: 360px;
	    height: 100px;
	    background-color: #fff;
	    display: flex;
    	padding-top: 40px;
    	font-size: 20px;
	    .linha{
	    	background-color: #000;
	    	height: 2px;
	    	width: 30%;
	    	margin-top: 15px;
    		margin-left: 15px;
	    }
	    .fab{
	    	margin-left: 20px;
	    }
	}
}


.politicas{
	text-decoration: underline !important;
	color: #0000FF !important;
}