.playfair-h3-g, .playfair-h3-b{
	font-size: 42px !important;
}


.lista-servico{
	.titulo-serv{
		font-size: 20px;
	}
	.preco{
		font-size: 40px;
		font-weight: bold;
	}
	.box-img{
		overflow: hidden;
		img{
			transition: transform .9s; /* Animation */
			&:hover{
				transform: scale(1.3);
			}
		}
	}
}


/*********** FORMATAÇÃO PARA PAGINA SERVIÇO ****************/
.page-serv{
	.link-voltarserv{
		font-size: 20px;
	}
	.box-profi{
		.playfair-h3-g-n{
			margin-top: 10px;
		}
	}
	.preco{
		font-size: 40px;
		font-weight: bold;
	}
	.div-botao{
		p{
			font-size: 30px;
			margin-bottom: 0px;
		}
	}
}



/*********** FORMATAÇÃO CALENDARIO ****************/

.ui-datepicker{
	background-color: #FCFCFC !important;
	border: none !important;
	width: 100% !important;
	font-family: $font-primary;
	.ui-widget-header{
		background-color: #FCFCFC !important;
		border: none !important;
		.ui-datepicker-title{
			height: 50px;
			font-size: 20px;
			padding-top: 10px;
			font-family: $font-primary;
		}
	}
	.ui-datepicker-calendar{
		tr{
			.ui-datepicker-days-cell-over{
				//padding-left: 10px;
			}
			.ui-datepicker-current-day, not:ui-state-disabled{
				justify-content: center !important;
				display: flex !important;
			}
			.ui-datepicker-current-day{
				justify-content: center !important;
				display: flex !important;
			}
			.ui-state-default{
				width: 50px;
				background: none;
				border:none;
			}
			td{
				a,
				span {
					padding-top: 8px;
					margin-top: 5px;
					margin-bottom: 5px;
					height: 40px;
					font-family: $font-primary;
					width: 40px;
					border: none;
				}
				a{
					background-color: #FCFCFC !important;
				}
				.ui-state-active{
					background: #17D5C8 !important;
				    border-radius: 25px;
				    text-align: center;
				    width: 40px;
				    height: 40px;
				    font-size: 20px;
				    color: #fff;
				}
			}
		}
	}	
}


/*********** FORMATAÇÃO HORARIO ****************/

.page-serv{
	button:focus{
		outline: none;
	}
	.painel-horario{
		position: relative;
		.aviso-click{
			position: absolute;
		    top: 39%;
		    left: 27%;
		    font-size: 28px;
		}
	}
	.hora{
		padding-left: 5px !important;
		padding-right: 5px !important;
		button{
			background-color: #FCFCFC;
			padding: 25px;
			border: none !important;
			width: 100%;
			cursor: pointer;
			.fa-circle{
				color: #fff;
				border:#2A2A2A solid 1px;
				border-radius: 50%;
				margin-right: 5px;
			}
		}

		.hora-inativo{
			background-color: #CD2323;
			opacity: 0.1;
			color: #fff;
		}

		.hora-reservada{
			background-color: #CD2323;
			opacity: 0.1;
			color: #fff;
		}

		.hora-selecionada{
			background-color: #17D5C8;
			color: #fff;
			.fa-circle{
				border:none;
			}
		}
		
	}
}