
/* padding */

.no-padding{
	padding-left: 0px;
}

.p10{
	padding: 10px!important;
}

.p30 {
	padding: 30px!important;
}

.cc-2{
	column-count: 2;
}

/* padding */


/* padding-top*/
.pt5 {
	padding-top: 5px;
}

.pt10 {
	padding-top: 10px;
}

.pt15 {
	padding-top: 15px;
}

.pt20 {
	padding-top: 20px;
}

.pt25 {
	padding-top: 25px;
}
.pt30 {
	padding-top: 30px;
}

.pt40 {
	padding-top: 40px;
}

.pt45 {
	padding-top: 45px;
}

.pt50 {
	padding-top: 50px;
}

.pt55 {
	padding-top: 55px;
}

.pt60 {
	padding-top: 60px;
}

.pt70 {
	padding-top: 70px;
}

.pt75{
	padding-top: 75px;
}

.pt80{
	padding-top: 80px;
}

.pt90{
	padding-top: 90px;
}
.pt100 {
	padding-top: 100px;
}

.pt105 {
	padding-top: 105px;
}

.pt120{
	padding-top: 120px;
}

/* padding-top*/


/* padding-bottom*/

.pb5 {
	padding-bottom: 5px;
} 

.pb10 {
	padding-bottom: 10px;
} 

.pb15 {
	padding-bottom: 15px;
}

.pb20 {
	padding-bottom: 20px;
}

.pb30 {
	padding-bottom: 30px;
}

.pb40 {
	padding-bottom: 40px;
}

.pb50 {
	padding-bottom: 50px;
}

.pb60 {
	padding-bottom: 60px;
}

.pb65 {
	padding-bottom: 65px;
}

.pb70 {
	padding-bottom: 70px;
}

.pb90 {
	padding-bottom: 90px;
}

.pb100 {
	padding-bottom: 100px;
}

/* padding-bottom*/


/* padding-right*/

.pr10{
	padding-right: 10px !important;
}

.pr15{
	padding-right: 15px !important;
}

.pr20{
	padding-right: 20px !important;
}

.pr30{
	padding-right: 30px !important;
}

.pr50{
	padding-right: 50px !important;
}

/* padding-right*/


/* padding-left*/

.pl10{
	padding-left: 10px !important;
}

.pl15{
	padding-left: 15px !important;
}

.pl20{
	padding-left: 20px !important;
}

.pl30{
	padding-left: 30px !important;
}

.pl50{
	padding-left: 50px !important;
}
.pl70{
	padding-left: 70px !important;
}
.pl90{
	padding-left: 90px !important;
}

/* padding-left*/

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.ml30 {
	margin-left: 30px;
}

.ml40 {
	margin-left: 40px;
}

.ml90 {
	margin-left: 90px;
}

.mr10 {
	margin-right: 10px;
}

.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt30 {
	margin-top: 30px;
}
.mt40 {
	margin-top: 40px;
}
.mt50 {
	margin-top: 50px;
}

.mt70 {
	margin-top: 50px;
}

.mt100 {
	margin-top: 100px;
}
.mb0 {
	margin-bottom: 0px!important;
}
.mb5 {
	margin-bottom: 5px!important;
}
.mb10 {
	margin-bottom: 10px!important;
}
.mb20 {
	margin-bottom: 20px;
}
.mb25 {
	margin-bottom: 25px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb100 {
	margin-bottom: 100px;
}

.mr50{
	margin-right: 50px;
}

.nomarg {
	margin: 0!important;
}
.nopad {
	padding: 0!important;
}
.block {
	display: block;
}
.expanded {
	width: 100%;
}

.no-mar-row{
	margin-right: -15px;
	margin-left: -15px;
}

.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.w-100{
	width: 100%;
}

.no-pad{
	padding-left: 0px !important;
	padding-right: 0px !important;
}