
// Body
$body-bg: #fff;

$font-primary: 'Roboto', sans-serif !important;
$font-secondary: 'Playfair Display', serif !important;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-verde: #17D5C8;
$color-verde-escuro: #78A5B0;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Cor Padrão
$color-padrao: #2A2A2A;
